html
  head
    title Список курсов
  body
    h1 Список курсов
    if courses.length > 0
      table(border="1")
        thead
          tr
            th Название курса
            th Описание
        tbody
          each course in courses
            tr
              td= course.title
              td= course.description
    else
      p Курсы отсутствуют.

    a(href="/courses/new") Добавить новый курс
