html
  body
    h1 Добавить новый курс
    form(action="/courses", method="post")
      div
        label Название курса:
        input(type="text", name="title", required=true)
      div
        label Описание:
        textarea(name="description", required=true)
      div
        button(type="submit") Добавить
