html
  head
    title Добавить новый курс
  body
      if error
          p= error.message
      form(action="/courses", method="post")
        div
          label Название курса:
          input(type="text", name="title", value = title, required=true)
        div
          label Описание:
          textarea(name="description", value = description, required=true)
        div
          button(type="submit") Добавить
